/*图片*/
article header h2{
	color: #444444;
	font-size: 14px;
	border-bottom: 1px solid #d7c6c6;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
article header h2 a{
	color: #444444;
	text-decoration: none;
}
div#body-wrapper section.piclist li,div#body-wrapper section.listnav li{
	display: inline-block;
	vertical-align: top;
}
div#body-wrapper li a{
	text-decoration: none;
	color: #444444;
}
.piclist li{
	margin-bottom: 10px;
	margin-right: 10px;
	width: 202px;
	height: 149px;
	text-align: center;
}
.piclist li img{
	width: 202px;
	height: 124px;
	border-radius: 10px;
}
.piclist li:nth-child(3n+3){
	margin-right: 0;
}
@-moz-keyframes piclist{/*创建关键帧*/
	0%{
		-moz-transform: rotate(0deg) scale(1);	
		opacity: 0.3;/*图片透明度*/
		border-radius: 1px;
	}
	40%{
		-moz-transform: rotate(45deg) scale(1.3);
		opacity: 1;
		border-radius: 50px;
	}
	60%{
		-moz-transform: rotate(-30deg) scale(1.1);
		opacity: 0.4;
		border-radius: 100px;
	}
	90%{
		-moz-transform: rotate(0deg) scale(0.8);
		opacity: 1;
		border-radius: 15px;
	}
}
@-webkit-keyframes piclist{/*创建关键帧*/
	0%{
		-webkit-transform: rotate(0deg) scale(1);	
		opacity: 0.3;/*图片透明度*/
		border-radius: 1px;
	}
	40%{
		-webkit-transform: rotate(45deg) scale(1.3);
		opacity: 1;
		border-radius: 50px;
	}
	60%{
		-webkit-transform: rotate(-30deg) scale(1.1);
		opacity: 0.4;
		border-radius: 100px;
	}
	90%{
		-webkit-transform: rotate(0deg) scale(0.8);
		opacity: 1;
		border-radius: 15px;
	}
}
@-ms-keyframes piclist{/*创建关键帧*/
	0%{
		-ms-transform: rotate(0deg) scale(1);	
		opacity: 0.3;/*图片透明度*/
		border-radius: 1px;
	}
	40%{
		-ms-transform: rotate(45deg) scale(1.3);
		opacity: 1;
		border-radius: 50px;
	}
	60%{
		-ms-transform: rotate(-30deg) scale(1.1);
		opacity: 0.4;
		border-radius: 100px;
	}
	90%{
		-ms-transform: rotate(0deg) scale(0.8);
		opacity: 1;
		border-radius: 15px;
	}
}
@-o-keyframes piclist{/*创建关键帧*/
	0%{
		-o-transform: rotate(0deg) scale(1);	
		opacity: 0.3;/*图片透明度*/
		border-radius: 1px;
	}
	40%{
		-o-transform: rotate(45deg) scale(1.3);
		opacity: 1;
		border-radius: 50px;
	}
	60%{
		-o-transform: rotate(-30deg) scale(1.1);
		opacity: 0.4;
		border-radius: 100px;
	}
	90%{
		-o-transform: rotate(0deg) scale(0.8);
		opacity: 1;
		border-radius: 15px;
	}
}
@keyframes piclist{/*创建关键帧*/
	0%{
		transform: rotate(0deg) scale(1);	
		opacity: 0.3;/*图片透明度*/
		border-radius: 1px;
	}
	40%{
		transform: rotate(45deg) scale(1.3);
		opacity: 1;
		border-radius: 50px;
	}
	60%{
		transform: rotate(-30deg) scale(1.1);
		opacity: 0.4;
		border-radius: 100px;
	}
	90%{
		transform: rotate(0deg) scale(0.8);
		opacity: 1;
		border-radius: 15px;
	}
}
.piclist li:hover img{
	-moz-animation-name: piclist;
	-webkit-animation-name: piclist;
	-ms-animation-name: piclist;
	-o-animation-name: piclist;
	animation-name: piclist;
	-moz-animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
	-ms-animation-duration: 1.5s;
	-o-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-moz-animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
	-ms-animation-timing-function: linear;
	-o-animation-timing-function: linear;
	animation-timing-function: linear;
}
section.listnav{
	margin-top: 20px;
}
.listnav li{
	background: #3598DB;
	padding: 3px 10px;
	margin-right: 10px;
	-moz-transition:background  0.5s linear;/*鼠标移上去的渐变效果*/
	-webkit-transition:background  0.5s linear;
	-ms-transition:background  0.5s linear;
	-o-transition:background  0.5s linear;
	transition:background  0.5s linear;
}
#body-wrapper .listnav a{
	color: white;
}
.listnav li.on,.listnav li:hover{
	background: #b0a8a8;
}
section#tuijian{
	margin-top: 20px;
}
.toplist_tit h3,.dianji_tit h3{
	color: #444444;
	border-bottom: 1px solid #d7c6c6;
	padding-bottom: 3px;
}
section.toplist{
	width: 469px;
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
	margin-right: 9px;
}
section.toplist li:before{
	content: counter(huodong);/*活动编号计数器*/
	background: #444444;
	padding: 2px 5px;
	color: white;
	margin-right: 5px;
}
section.toplist li{
	counter-increment: huodong;/*活动编号计数*/
	display: inline-block;
	width: 100%;
	vertical-align: bottom;
	overflow: hidden;
	white-space: nowrap;/*不换行*/
	text-overflow: ellipsis;/*文字超出部分省略号代替*/
	margin-top: 16px;
	-moz-transition:text-shadow 0.5s linear;/*文字阴影的渐变效果*/
	-webkit-transition:text-shadow 0.5s linear;
	-ms-transition:text-shadow 0.5s linear;
	-o-transition:text-shadow 0.5s linear;
	transition:text-shadow 0.5s linear;
}
section.toplist li:nth-child(1):before,section.toplist li:nth-child(2):before,section.toplist li:nth-child(3):before{
	background: #3598db;
}
section.toplist li:last-child:before{
	padding: 2px;
	font-size: 14px;
}
section.toplist a{
	text-decoration: none;
	color: #444444;
}
section.toplist li:hover{
	text-shadow: 1px 2px 7px black;
}
section.dianji{
	width: 469px;
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
	margin-right: 9px;
}
section.dianji li:before{
	content: counter(huodong);/*活动编号计数器*/
	background: #444444;
	padding: 2px 5px;
	color: white;
	margin-right: 5px;
}
section.dianji li{
	counter-increment: huodong;/*活动编号计数*/
	display: inline-block;
	width: 100%;
	vertical-align: bottom;
	overflow: hidden;
	white-space: nowrap;/*不换行*/
	text-overflow: ellipsis;/*文字超出部分省略号代替*/
	margin-top: 16px;
	-moz-transition:text-shadow 0.5s linear;/*文字阴影的渐变效果*/
	-webkit-transition:text-shadow 0.5s linear;
	-ms-transition:text-shadow 0.5s linear;
	-o-transition:text-shadow 0.5s linear;
	transition:text-shadow 0.5s linear;
}
section.dianji li:nth-child(1):before,section.dianji li:nth-child(2):before,section.dianji li:nth-child(3):before{
	background: #3598db;
}
section.dianji li:last-child:before{
	padding: 2px;
	font-size: 14px;
}
section.dianji a{
	text-decoration: none;
	color: #444444;
}
section.dianji li:hover{
	text-shadow: 1px 2px 7px black;
}